body{
    background-image: linear-gradient(to right,rgb(252, 178, 94),rgb(255, 251, 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* NAvbar  */
#navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 100vw;
}

.nav-item{
     
    margin: 2px 20px;
}
.nav-item img{
    width: 100px;
    height: 70px;
    filter: invert(100%);
   position: absolute;
   left:0%;
   top:1%;
}
.nav-item ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    text-align: right;
    align-items: right;
    width: 40vw;
    color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
ul li:hover{
    color: #0707079f;
}


table{
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(to right,rgba(27, 206, 72, 0.719),rgba(146, 174, 209, 0.377));
    color: #eee;
    font-size: 1.25rem;
    
    
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(196, 13, 196);
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #0078da;
}

input[type="reset"]:hover{
    background: #4b99d8;
}

button{
    background: rgb(204, 62, 62);
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:#5c27da ;
}